# Build directory
build/

# Python build products
python/build/
python/dist/
python/srwpy.egg-info/

# Documentation artifacts
docs/source/cookbook
docs/build/

# Python and C compiled files
*.pyc
*.o
data_example*
.idea

# Compiled libraries
*.a
*.so

__srwl_logs__/
uti_plot*.png
