
1000 STR# /* SRW Directory structure */
BEGIN
"dir:SRW\0",
"CopyRight.txt\0",
"ReadMe.txt\0",
"SRW.xop\0",
"dir:SRW Help\0",
"SRW Help.ifn\0",
"SRW Macro Help.ifn\0",
"SRW Macro Help.ifn.igr\0",
"enddir\0",
"dir:SRW Procedures\0",
"dir:Development\0",
"SRW Example ZonePlate.ipf\0",
"enddir\0",
"dir:Examples\0",
"SRW Example BM SR Focusing.ipf\0",
"SRW Example BM Std.ipf\0",
"SRW Example ER Diffraction.ipf\0",
"SRW Example ER Power.ipf\0",
"SRW Example ER.ipf\0",
"SRW Example UR AngPat ThkE.ipf\0",
"SRW Example UR Ell.ipf\0",
"SRW Example UR Focusing.ipf\0",
"SRW Example UR Off-Axis.ipf\0",
"SRW Example UR Power.ipf\0",
"SRW Example UR Spec ThkE.ipf\0",
"SRW Example Wig Ell.ipf\0",
"SRW Example Wig Plan.ipf\0",
"SRW Example X-ray Lens.ipf\0",
"enddir\0",
"dir:Globals\0",
"SRW Globals.ipf\0",
"SRW Menu.ipf\0",
"enddir\0",
"dir:Input\0",
"SRW Electron.ipf\0",
"SRW MagField Const.ipf\0",
"SRW MagField Gen.ipf\0",
"SRW MagField Periodic.ipf\0",
"SRW Observation.ipf\0",
"SRW Visualize.ipf\0",
"enddir\0",
"dir:Optics\0",
"SRW Optics ThinGen.ipf\0",
"SRW Optics.ipf\0",
"enddir\0",
"dir:Radiation\0",
"SRW Radiation Gaussian.ipf\0",
"SRW Radiation Manip.ipf\0",
"SRW Radiation NearField.ipf\0",
"SRW Radiation Power.ipf\0",
"SRW Radiation Und.ipf\0",
"SRW Radiation Wiggler.ipf\0",
"enddir\0",
"dir:Utilities\0",
"SRW Utilities.ipf\0",
"SRW View Struct.ipf\0",
"enddir\0",
"enddir\0",
"enddir\0",

"\0"						// NOTE: NULL required to terminate the resource.
END
