recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat

include srwpy/_version.py
include srwpy/*.so

# If including data files in the package, add them like:
# include path/to/data_file

graft srwpy/examples/data_example_*

include README.md
include requirements.txt